<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brainiac - AI Tools</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aitools.css') }}">
</head>
<body>
    <header>
        <div class="header-left">
            <img src="{{ url_for('static', filename='b2.png') }}" alt="Logo" class="logo-image">
            <div class="logo">BRAINIAC</div>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('views.home') }}">Home</a></li>
                <li><a href="{{ url_for('views.tools') }}">AI Tools</a></li>
                <li><a href="{{ url_for('views.about')}}">About Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="hero-section">
            <div class="text-content">
                <h1>BRAINIAC's AI Tools</h1>
                <div class="carousel">
                    <button class="arrow left-arrow">&#10094;</button>
                    <div class="tools-container">
                        <div class="tools">
                            <div class="tool-card">
                                <img src="{{ url_for('static', filename='sumbg.jpg') }}" alt="Summarization" class="tool-image">
                                <span class="tool-name"><a href="{{ url_for('views.tool2')}}">Summarization</a></span>
                            </div>
                            <div class="tool-card">
                                <img src="{{ url_for('static', filename='quizwbg.jpg') }}" alt="Quiz Generator" class="tool-image">
                                <span class="tool-name"><a href="{{ url_for('views.tool2')}}">Quiz Generator</a></span>
                            </div>
                            <div class="tool-card">
                                <img src="{{ url_for('static', filename='b2wbg.jpg') }}" alt="Chat with Doc" class="tool-image">
                                <span class="tool-name"><a href="{{ url_for('views.tool2')}}">Chat with Doc</a></span>
                            </div>
                            <div class="tool-card">
                                <img src="{{ url_for('static', filename='b2wbg.jpg') }}" alt="Prompt to LaTeX" class="tool-image">
                                <span class="tool-name"><a href="{{ url_for('views.prompt2latex')}}">Prompt to LaTeX</a></span>
                            </div>
                            <div class="tool-card">
                                <img src="{{ url_for('static', filename='b2wbg.jpg') }}" alt="Handwritten Equations to LaTeX" class="tool-image">
                                <span class="tool-name"><a href="{{ url_for('views.tool2')}}">Handwritten Equations to LaTeX</a></span>
                            </div>
                            <div class="tool-card">
                                <img src="{{ url_for('static', filename='b2wbg.jpg') }}" alt="Tool 6" class="tool-image">
                                <span class="tool-name"><a href="{{ url_for('views.tool2')}}">Tool 6</a></span>
                            </div>
                        </div>
                    </div>
                    <button class="arrow right-arrow">&#10095;</button>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Brainiac. All rights reserved.</p>
    </footer>
    <script src="{{url_for('static', filename='aitools.js')}}"></script>
</body>
</html>
