<!doctype html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BRAINIAC - Prompt To LaTeX Generator</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/prompt2latex.css') }}"
    />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
  </head>

  <body>
    <header>
      <div class="header-left">
        <img
          src="{{ url_for('static', filename='b2.png') }}"
          alt="Logo"
          class="logo-image"
        />
        <div class="logo">BRAINIAC</div>
      </div>
      <nav>
        <ul>
          <li><a href="{{ url_for('views.home') }}">Home</a></li>
          <li><a href="{{ url_for('views.tools') }}">AI Tools</a></li>
          <li><a href="{{ url_for('views.about')}}">About Us</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="hero-section">
        <div class="text-content">
          <h1>BRAINIAC’s Handwritten to LaTeX Generator</h1>
          <p id="typewriter-text2">
            Just upload handwritten latex and get back LaTeX, you can
            verify it by looking at the rendered LaTeX!
          </p>
          <br />
          <form id="latex-form">
            <div class="input-container">
              <input
                type="file"
                id="latex-upload"
                name="latex-upload"
                placeholder="Upload LaTeX"
                required
              />
              <button type="submit">Generate</button>
            </div>
          </form>
          <div class="output-container">
            <div class="latex-output-wrapper">
              <input
                type="text"
                id="latex-output"
                placeholder="LaTeX"
                readonly
              />
              <button id="copy-button">Copy</button>
            </div>
            <br /><br />
            <div id="markdown-preview" class="visualization"></div>
          </div>
        </div>
        <img
          src="{{ url_for('static', filename='brainysum.png') }}"
          alt="Hero Image"
          class="hero-image"
        />
      </div>
    </main>

    <footer>
      <p>&copy; 2024 Brainiac. All rights reserved.</p>
    </footer>
  </body>
</html>
